body {
  font-family: sans-serif !important;
  overflow-x: hidden;
}

.prueba {
  position: fixed;
  top: 0 !important;
  z-index: 99;
  width: 100%;
}

.navbar {
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
}


.section1 {
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-size: cover;
  filter: brightness(1)
}

.section1 main {
  display: grid;
  justify-content: center;

  z-index: 98;
  padding-top: 15%;
  filter: brightness(.9) !important;
  color: white;
  font-size: 2.3em;
  font-weight: 400;
  display: flex;
  justify-content: center;

}

.section1 img {
  width: 400px;
  height: auto;
  object-fit: contain;
  clip-path: circle(30%);
  margin-right: 0%;

}

.section1 article {
  text-align: center;
  padding-top: 3%;

}

.section1 article p {
  margin: 0;
  text-shadow: 0.5px 0 1px rgba(255, 255, 255, 0.8);
}

.section1 article p:nth-child(2) {
  color: #2C5CC7;
  font-weight: 800;
}



.section2 {
  height: 90vh;
  padding-top: 15%;
}

.section2 h3 {
  font-size: 2em;
  color: #2C5CC7;
  font-weight: 600;
  margin-bottom: 6%;
}

.section2 p {
  line-height: 1.5em;
}

.section2 button img {
  width: 20%;
}

.section2 button {
  margin-top: 2%;
  font-size: 1.1em;
}

.skils {
  display: flex;
  justify-content: space-evenly;
}

.skils div {
  width: 800px;
}



.section3 {
  height: 100vh;
  padding: auto;
  padding-top: 15%;

}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section3 h3 {
  text-shadow: 0.5px 0 1px rgba(255, 255, 255, 0.8);
  margin-bottom: 4%;
  color: #2C5CC7;
  font-weight: 800;
  margin-left: 8%;
  font-size: 2em;
}


.record_wrap {
  width: 70%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.record {
  border-radius: 10px;
  width: 22%;
  height: 15vw;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 300ms;
  color: black;
  font-size: 0.8em;
  margin: 30px;
}

.record:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.record:hover .record-arrow {
  transform: translateX(85%);
  opacity: 1;
}

.record-display {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.record:hover .record-display {
  height: 40%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.record-desc {
  margin: 20px 0 0 10px;
  opacity: 0;
  transition: opacity 400ms ease-in-out 190ms;
}

.record-desc h4 {
  font-weight: 600;
}

.record-desc button {
  margin: 3px;
  padding: 3px 10px;
  margin-right: 12px;
  border: 2px solid rgb(226, 223, 223);
  border-radius: 10px;
  font-weight: 500;
}

.record-desc button:hover {
  transform: scale(1.1);
}

.record:hover .record-desc {
  opacity: 1;
}


#record2 {
  transition: height 800ms cubic-bezier(0.54, 0.21, 0.18, 1.35);
}


.section4 {
  height: 60vh;
  background-color: rgb(252, 252, 252);
  padding-top: 10%;

}

.section4 h3 {
  text-shadow: 0.5px 0 1px rgba(255, 255, 255, 0.8);
  margin-bottom: 4%;
  color: #000;
  font-weight: 800;
  margin-left: 8%;
  font-size: 2em;
  color: #2C5CC7;
}

.eachone div {
  transition: 500ms;
  padding: 2px 30px;
  border: 1px solid rgb(236, 234, 234);
  border-radius: 30px;
}

.eachone div:hover {
  cursor: pointer;
  transform: scale(1.3);
}






@media (max-width: 576px) {
  .section1 main {
    display: flex;
    flex-direction: column;
    height: 70vh;
  }

  .section1 p {
    font-size: 0.7em;
  }

  .section1 img {
    margin: 0 auto;
  }

  .section2 {
    padding: 0 5%;
    height: 80vh;
    padding-top: 10%;
    font-size: 0.8em;
    width: 100%;
    margin-bottom: 5%;
  }

  .section2 button {
    margin-bottom: 0%;
    margin-bottom: 10%;
    font-size: 0.8em;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  .section3 {
    height: 80vh;
  }

  .section3 h3 {
    margin-bottom: 13%;

  }

  .record {
    width: 70%;
    height: 15vh;
    margin: 0 auto;
    margin-bottom: 8%;
  }

  .section4 .eachone {
    display: flex;
    flex-direction: column;
  }

  .section4 .eachone div {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8%;
  }

  .section4 h3 {
    margin-bottom: 13%;
  }

  .section4 {
    height: 50vh;
  }
}

@media (min-width: 577px) and (max-width: 950px) {
  .section1 main {
    display: flex;
    flex-direction: column;
  }

  .section1 p {
    font-size: 0.9em;
  }

  .section1 img {
    margin: 0 auto;
  }

  .section2 {
    height: 75vh;
    padding: 0 5%;
    padding-top: 10%;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 5%;
  }

  .section2 button {
    margin-bottom: 0%;
    margin-bottom: 8%;
    font-size: 0.8em;
  }

  .section3 {
    height: 40vh;
  }

  .section4 {
    height: 30vh;
  }
}